.Image_container {
height: 200px;
width: 200px;
box-shadow: 4px 4px 20px gray;
background-color: #ffffff;
border-radius: 10px;

}
.Image_container:hover{
transform: translate3d(3px , 3px , 3px);
}
.h1{
font-weight: 600;
font-size: 1.1em;
text-align: center;
margin-top: 5%;
color: #52525b;

}
.image{
border-radius: 10px;
}